@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

@keyframes swipeGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-line {
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #FFDD3A, #FF3FE0, #64FFFF, #E7FF64, #FFE03C, #FFDD3A); 
  background-size: 300% 100%; 
  animation: swipeGradient 2s linear infinite; 
}

.gradient-button {
  background: linear-gradient(90deg, #5FF9FF, #E0FF60);
}
